* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#container{
    width: 600px;
    margin: 30px auto;
    
    display: flex;
    justify-content: center;
}
.canvas{
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:0px;
    width: 600px;
    height: 600px;
    box-shadow:2px 4px grey;
    border:1px solid grey;
    margin: 30px auto;
}
.unit{
    box-sizing: border-box;
    transition: all 0.3s ease-in;
}
.reset{
    width: 200px;
    height:40px;
    border-radius: 5px;
    background-color: #9630e9;
    color: wheat;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}